# IDE settings
.idea
.vscode

# Checkpoints
.ipynb_checkpoints
__pycache__/
.pyc

# Unit tests
pytest.xml
.pytest_cache

# Built Documentation
docs/_build
docs/_autosummary
docs/html

# Build artifacts
build
dist
*.egg-info

# XSD files
resqml/olio/data/Properties.xsd

