# IDE settings
.idea
.vscode

# Checkpoints
.ipynb_checkpoints
__pycache__/
.pyc
.DS_Store

# Unit tests
pytest.xml
.pytest_cache
.coverage

# Built Documentation
docs/_build
docs/_autosummary
docs/html

# Build artifacts
build
dist
*.egg-info

# Dynamically-generated version
resqpy/version.py

# XSD files
resqpy/olio/data/*.xml
resqpy/olio/data/*.xsd

