# PEP 517-compliant build configuration

# To build resqpy package, run:
# >>> poetry build

[build-system]
requires = ["poetry>=1.0.2", "poetry-dynamic-versioning"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "resqpy"
version = "0.0.0" # Set at build time
description = "Python API for working with RESQML models"
authors = ["BP"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/bp/resqpy"
documentation = "https://resqpy.readthedocs.io/en/latest/"
keywords = ["RESQML"]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Development Status :: 4 - Beta",
    # "Development Status :: 5 - Production/Stable"
    "Topic :: Scientific/Engineering",
    "Topic :: System :: Filesystems",
    "Topic :: Scientific/Engineering :: Information Analysis"
]

[tool.poetry.dependencies]
python = ">= 3.7.1, < 3.10"
numpy = "^1.21"
pandas = "^1.3"
h5py = "^3.2"
lxml = "^4.6"
lasio = "^0.29"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pytest-cov = "^2.12"
pytest-mock = "^3.6"
flake8 = "^3.9"
flake8-docstrings = "^1.6"
yapf = "^0.32"
packaging = "20.9"
Sphinx = "^3.5"
sphinx-rtd-theme = "^0.5"
mypy = "0.910"
autoclasstoc = "^1.2"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"

[tool.poetry-dynamic-versioning.substitution]
files = ["resqpy/__init__.py"]

[tool.yapf]
based_on_style = "google"
indent_width = 4
continuation_indent_width = 4
spaces_around_default_or_named_assign = true
column_limit = 120

[tool.yapfignore]
ignore_patterns = [
  "venv/**/*",
  "dist/**/*"
]