---

name: Publish release

#on:
#  push:
#    tags:
#      # Run when a tag is pushed with a valid semantic version number
#      - 'v[0-9]+.[0-9]+.[0-9]+'

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          pip install poetry-dynamic-versioning

      - name: Build
        run: |
          poetry build

      - name: Copy TOML File as a build artifact
        run: cp pyproject.toml dist/

      - name: Save build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist-artifact
          path: dist/

  test:
    name: Test
    needs: build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist-artifact
          path: dist/

      - name: Install from build
        run: |
          python -m pip install --upgrade pip
          pip install pytest-mock
          pip install resqpy --target=dist --find-links=dist/

      - name: Copy tests and example data to dist folder for testing against artifacts
        run: |
          cp -R tests dist/
          cp -R example_data dist/

      - name: Run tests
        run: pytest dist/tests --buildtest

  publish:
    name: Publish to PyPI
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Get build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist-artifact
          path: dist/

      - name: Move TOML File to base directory
        run: mv dist/pyproject.toml /

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Upload to PyPI
        run: |
          poetry publish --repository TestPyPI -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_PASSWORD }} --dry-run
