---

name: Publish release

#on:
#  push:
#    tags:
#      # Run when a tag is pushed with a valid semantic version number
#      - 'v[0-9]+.[0-9]+.[0-9]+'

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          pip install poetry-dynamic-versioning

      - name: Build
        run: |
          poetry build

      - name: Save build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist-artifact
          path: dist/

  test:
    name: Test
    needs: build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist-artifact
          path: dist/

      - name: Install from build
        run: |
          python -m pip install --upgrade pip
          pip install pytest-mock
          pip install resqpy --pre --target=dist --find-links=dist/

      - name: Copy tests and example data to dist folder for testing against artifacts
        run: |
          cp -R tests dist/
          cp -R example_data dist/

      - name: Run tests
        run: pytest dist/tests --buildtest

  publish:
    name: Publish to PyPI
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      # Retrieve the code and GIT history so that poetry-dynamic-versioning knows which version to upload
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist-artifact
          path: dist/

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          pip install poetry-dynamic-versioning
          poetry config repositories.test https://test.pypi.org/legacy/

      - name: Upload to PyPI
        run: |
          env:
             POETRY_PYPI_TOKEN_TEST: ${{ secrets.POETRY_PYPI_TOKEN_TEST}}
             POETRY_PYPI_TOKEN_PYPI: ${{ secrets.POETRY_PYPI_TOKEN_PYPI}}
          poetry publish --repository test 
