---

name: Python CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8
      
      # Post in-line comments for any issues found
      # See https://github.com/marketplace/actions/lint-action
      - name: Lint with flake8
        uses: wearerequired/lint-action@v1
        with:
          flake8: true

  unit-tests:
    name: Unit tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install resqpy
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install ".[tests]"

      - name: Run pytest
        run: |
          pytest --junitxml=pytest.xml

      - name: Upload pytest artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: Unit Test Results (Python ${{ matrix.python-version }})
          path: pytest.xml

      # - name: Publish Unit Test Results
      #   if: always()
      #   uses: EnricoMi/publish-unit-test-result-action@v1
        # with:
        #   files: *.xml
